.table_ground-cemical-property {
    grid-template-areas:
            "h-c h-in h-SO42 d-SO42"
            "h-c h-in h-iCl  d-iCl"
            "h-c h-M h-gumus d-gumus"
            "h-c h-M h-NO3 d-NO3"
            "h-c h-M h-Cl d-Cl"
            "h-c h-M h-Fe d-Fe"
            "h-c h-pH h-pH d-pH"
            "h-e h-ro h-ro d-ro"
            "h-e h-I h-I d-I";
}

.properties_h {
    grid-area: h-p;
}

.cemical-properties_l {
    grid-area: h-c;
}

.electrical-properties_l {
    grid-area: h-e;
}

.instance-content {
    grid-area: h-in;
}

.instance-content__SO42_l {
    grid-area: h-SO42;
}

.instance-content__SO42_d {
    grid-area: d-SO42;
}

.instance-content__Cl_l {
    grid-area: h-iCl;
}

.instance-content__Cl_d {
    grid-area: d-iCl;
}

.M_l {
    grid-area: h-M;
}

.M__gumus_l {
    grid-area: h-gumus;
}

.M__gumus_d {
    grid-area: d-gumus;
}

.M__NO3_l {
    grid-area: h-NO3;
}

.M__NO3_d {
    grid-area: d-NO3;
}

.M__Cl_l {
    grid-area: h-Cl;
}

.M__Cl_d {
    grid-area: d-Cl;
}

.M__Fe_l {
    grid-area: h-Fe;
}

.M__Fe_d {
    grid-area: d-Fe;
}

.ro_l {
    grid-area: h-ro;
}

.ro_d {
    grid-area: d-ro;
}

.I_l {
    grid-area: h-I;
}

.I_d {
    grid-area: d-I;
}

.pH_l {
    grid-area: h-pH;
}

.pH_d {
    grid-area: d-pH;
}
