body {

}

.block3d {
    border: 2px solid green;
    background-color: #7cbcff;
    text-align: center;
    vertical-align: sub;
    width: 250px;
    height: 220px;
    transform-style: preserve-3d;
    transform: translateX(0px) perspective(100px) translateZ(0px) rotateY(10deg);
    color: brown;
    margin: 40px;
    padding: 10px;
    box-sizing: border-box;
}

.block3d:hover {
    transform-style: preserve-3d;
    transform: translateX(40px) perspective(100px) translateZ(0px) rotateY(0deg);
    transition: .5s;
}

.mainForm {
    display: block;
    font: 20px 'Times New Roman', 'Arial', sans-serif;

}

.logo {
    position: relative;
}

.logo__title-site {
    font: 40px 'Times New Roman', serif;
    color: #ffffff;
    font-weight: 900;
    text-shadow: #ffd700 2px 2px;
    letter-spacing: 5px;
    vertical-align: middle;
}

.header-site {
    display: block;
    border: 1px solid;
    background: linear-gradient(to right, #000000, #f7f7f7);
    height: 70px;
}

.workspace {
    position: relative;
    border: 1px solid;
}

.menu {
    box-sizing: border-box;
    display: block;
    position: relative;
    border: 1px solid #960000;
    background: linear-gradient(to right, #7cbcff 90%, #ea7a00 90%);
    max-width: 400px;
    width: 250px;
    padding-right: 5%;
    margin-left: -240px;
}

.menu:hover {
    margin-left: 0;
    transition: 1s;
}

.menu:not(:hover) {
    transition: 1s;
}

.managerLayout {
    box-sizing: border-box;
    display: block;
    background: linear-gradient(to right, #cecece, #f5f5dc 50%);

    position: relative;
    /* flex-basis: 120px;*/
}

.report {
    box-sizing: border-box;
    display: block;
    border: 1px solid;
    background-color: #cfcfcf;
    background-image: url("../resource/ico/iz.png");

}

.reportFrame {
    box-sizing: border-box;
    width: 210mm;
    height: 297mm;
    border: 3px solid #000000;

}

.reportFrame:hover {

}

.reportTools {
    display: flex;
    border: 1px dotted #a52a2a;
    background-color: #f7f7f7;
    transform-style: preserve-3d;
    transform: translateX(0) perspective(600px) translateZ(0) rotateY(0deg);
    transition: transform 1s ease-out, width .5s, height .5s;
}

.footer {
    box-sizing: border-box;
    border: 1px solid;
    background: linear-gradient(to left, #000000, #f7f7f7);
    height: 70px;
}






