/*buttons*/
.add-new-object {
    background: url("../../LabMensam/resource/ico/add2.png") no-repeat;
    background-position: center;

}

.save-to-localStorage{
    background: url("../../LabMensam/resource/ico/disk_blue.png") no-repeat;
    background-position: center;
}

.print-preview-button {
    background: url("../resource/ico/printpreview.png") no-repeat;
    border-radius: 10px;
}

.img-button {
    width: 70px;
    height: 50px;
    background-size: contain;
    background-position: center;
    margin: 5px;
}

.open-file {
    background: url("../resource/ico/folder.png") no-repeat;
    background-position: left;
    width: 40px;
    height: 50px;
    padding-left: 50px;
}