.table_Corr {
    grid-template-areas:

            "h-mat h-fac h-cor h-cor"
            "h-mat h-fac h-f h-r"
            "mFe fRo ro-d resFe"
            "mFe fI I-d resFe"
            "mPb fpH-pb fpH-pb-d resPb"
            "mPb fGumus fGumus-d resPb"
            "mPb fNO fNO-d resPb"
            "mAl fpH-Al fpH-al-d resAl"
            "mAl fCl fCl-d resAl"
            "mAl fFe fFe-d resAl";
}

.material_h {
    grid-area: h-mat;
}

.factor_h {
    grid-area: h-fac;
}

.corr-aggress_h {
    grid-area: h-cor;
}

.corr-aggress__factor_h {
    grid-area: h-f;
}

.corr-aggress__result_h {
    grid-area: h-r;
}

.materialFe_l {
    grid-area: mFe;
}

.factorFe__ro_l {
    grid-area: fRo;
}

.factorFe__ro_d {
    grid-area: ro-d;
}

.factorFe__i_l {
    grid-area: fI;
}

.factorFe__i_d {
    grid-area: I-d;
}

.materialFe__result_d {
    grid-area: resFe;
}

.materialPb_l {
    grid-area: mPb;
}

.factorPb__pH_l {
    grid-area: fpH-pb;
}

.factorPb__pH_d {
    grid-area: fpH-pb-d;
}

.factorPb__gumus_l {
    grid-area: fGumus;
}

.factorPb__gumus_d {
    grid-area: fGumus-d;
}



.factorPb__NO3_l {
    grid-area: fNO;
}

.factorPb__NO3_d {
    grid-area: fNO-d;
}




.materialPb__result_d {
    grid-area: resPb;
}

.materialAl_l {
    grid-area: mAl;
}

.factorAl__pH_l {
    grid-area: fpH-Al;
}

.factorAl__pH_d {
    grid-area: fpH-al-d;
}

.factorAl__Cl_l {
    grid-area: fCl;
}

.factorAl__Cl_d {
    grid-area: fCl-d;
}

.factorAl__Fe_l {
    grid-area: fFe;
}

.factorAl__Fe_d {
    grid-area: fFe-d;
}

.materialAl__result_d {
    grid-area: resAl;
}
