.table_CorrToMet{
    grid-template-areas:
    "h-ul h-al"
    "d-ul d-al";
}

.underLevel_h{
    grid-area: h-ul;
}
.underLevel_d{
    grid-area: d-ul;
}
.aboveLevel_h{
    grid-area: h-al;
}
.aboveLevel_d{
    grid-area: d-al;
}