html {
    background: linear-gradient(to right bottom,  #ff4500 20%, #adff2f);
    background-attachment: fixed;
}


@page A4 {

}
.pageA4 {
    display: block;
    font: 14px 'Arial Narrow', 'Times New Roman';
    width: 210mm;
    height: 297mm;
    border: 1px solid #7cbcff;
    padding: 5mm 5mm 5mm 10mm;
    background: #ffffff;
    margin: 0 auto;
    box-sizing: border-box;
}

.cell:hover {
    transform: scale(1.2);
    transform-origin: top left;
    background-color: #ffee70;
    transition-duration: .4s;
}

.separator {
    height: 2px;
}

.annex {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.annex-name{
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}


.litera{
    color: darkblue;
    text-decoration: underline;
}

.list {
    margin: 0 auto;
    text-align: center;
}

.title{
    margin-left: 10px;
}

.objectName{
    margin-left: 10px;
}




