.sample-ground_tb {
    grid-template-areas:
            "labNo_l labNo_l labNo_d"
            "ege_l ege_l ege_d"
            "hole_l kind_l kind_d"
            "hole_l hole-no_l hole-no_d"
            "hole_l hole-depth_l hole-depth_d"
            "get-date_l get-date_l get-date_d "


}

.sample-ground-labNo_l {
    grid-area: labNo_l;
}

.sample-ground-labNo_d {
    grid-area: labNo_d;
}

.sample-ground-ege_l {
    grid-area: ege_l;
}

.sample-ground-ege_d {
    grid-area: ege_d;
}

.sample-ground-hole_l {
    grid-area: hole_l;
}

.sample-ground-hole-kind_l {
    grid-area: kind_l;
}

.sample-ground-hole-kind_d {
    grid-area: kind_d;
}

.sample-ground-hole-no_l {
    grid-area: hole-no_l;
}

.sample-ground-hole-no_d {
    grid-area: hole-no_d;
}

.sample-ground-hole-depth_l {
    grid-area: hole-depth_l;
}

.sample-ground-hole-depth_d {
    grid-area: hole-depth_d;
}

.sample-ground-get-date_l {
    grid-area: get-date_l;
}

.sample-ground-get-date_d {
    grid-area: get-date_d;
}

.temperatura_l {
    grid-area: temperatura_l;
}

.temperatura_in {
    grid-area: temperatura_d;
}

.wet_l {
    grid-area: wet_l;
}

.wet_in {
    grid-area: wet_d;
}





.ground-property_tb {
    grid-template-areas:
            "h-c h-in h-SO42 d-SO42"
            "h-c h-in h-iCl  d-iCl"
            "h-c h-M h-gumus d-gumus"
            "h-c h-M h-NO3 d-NO3"
            "h-c h-M h-Cl d-Cl"
            "h-c h-M h-Fe d-Fe"
            "h-c h-pH h-pH d-pH"
            "h-e h-ro h-ro d-ro"
            "h-e h-I h-I d-I";
}

.properties_h {
    grid-area: h-p;
}

.cemical-properties_l {
    grid-area: h-c;
}

.electrical-properties_l {
    grid-area: h-e;
}

.instance-content {
    grid-area: h-in;
}

.instance-content__SO42_l {
    grid-area: h-SO42;
}

.instance-content__SO42_d {
    grid-area: d-SO42;
}

.instance-content__Cl_l {
    grid-area: h-iCl;
}

.instance-content__Cl_d {
    grid-area: d-iCl;
}

.M_l {
    grid-area: h-M;
}

.M__gumus_l {
    grid-area: h-gumus;
}

.M__gumus_d {
    grid-area: d-gumus;
}

.M__NO3_l {
    grid-area: h-NO3;
}

.M__NO3_d {
    grid-area: d-NO3;
}

.M__Cl_l {
    grid-area: h-Cl;
}

.M__Cl_d {
    grid-area: d-Cl;
}

.M__Fe_l {
    grid-area: h-Fe;
}

.M__Fe_d {
    grid-area: d-Fe;
}

.ro_l {
    grid-area: h-ro;
}

.ro_d {
    grid-area: d-ro;
}

.I_l {
    grid-area: h-I;
}

.I_d {
    grid-area: d-I;
}

.pH_l {
    grid-area: h-pH;
}

.pH_d {
    grid-area: d-pH;
}










