.table_sulf {
    grid-template-areas: "cb_h sa_h sa_h  sa_h sa_h sa_h"
    "cb_h w4_h w6_h w8_h w10w14_h w16w20_h"
    "pc_l toPcW4  toPcW6 toPcW8 toPcW10W14 toPcW16W20"
    "pcp_l toPcPlusW4  toPcPlusW6 toPcPlusW8 toPcPlusW10W14 toPcPlusW16W20"
    "sc_l toSulphateCementW4  toSulphateCementW6 toSulphateCementW8 toSulphateCementW10W14 toSulphateCementW16W20";
}

.cement-base_h {
    grid-area: cb_h;
}

.sulphate-aggress_h {
    grid-area: sa_h;
}

.sulfate-aggress__W4_h {
    grid-area: w4_h;
}

.sulfate-aggress__W6_h {
    grid-area: w6_h;
}

.sulfate-aggress__W8_h {
    grid-area: w8_h;
}

.sulfate-aggress__W10W14_h {
    grid-area: w10w14_h;
}

.sulfate-aggress__W16W20_h {
    grid-area: w16w20_h;
}

.PC_l {
    grid-area: pc_l;
}

.toPcW4_d {
    grid-area: toPcW4;
}

.toPcW6_d {
    grid-area: toPcW6;
}

.toPcW8_d {
    grid-area:toPcW8;
}

.toPcW10W14_d {
    grid-area: toPcW10W14;
}

.toPcW16W20_d {
    grid-area:toPcW16W20;
}

.PcPlus_l {
    grid-area: pcp_l;
}

.toPcPlusW4_d {
    grid-area:toPcPlusW4;
}

.toPcPlusW6_d {
    grid-area:toPcPlusW6;
}

.toPcPlusW8_d {
    grid-area:toPcPlusW8;
}

.toPcPlusW10W14 {
    grid-area:toPcPlusW10W14;
}

.toPcPlusW16W20_d {
    grid-area:toPcPlusW16W20;
}

.toPcPlusW16W20_d {
    grid-area: toPcPlusW16W20;
}

.sulphate-cement_l {
    grid-area: sc_l;
}

.toSulphateCementW4_d {
    grid-area:toSulphateCementW4;
}

.toSulphateCementW6_d {
    grid-area:toSulphateCementW6;
}

.toSulphateCementW8_d {
    grid-area:toSulphateCementW8;
}

.toSulphateCementW10W14 {
    grid-area:toSulphateCementW10W14;
}

.toSulphateCementW16W20_d {
    grid-area:toSulphateCementW16W20;
}
